.custom-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown-content {
  width: 80%;
  max-height: 210px; /* Set to 6 items of approximately 35px height each */
  overflow-y: auto;
  background-color: #fafafa;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
}

.dropdown-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  color: #48984b;
  width: 100%;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #03e29b;
  color: #f2fff3;
}
