/* .custom-dropdown {
  position: relative;
  display: inline-block;
} */
/* 
.dropdown-button {
    background-color: #005a27;
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid #030303;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}     */
/* 
.dropdown-button:hover {
    background-color: #0a8d4b;
} */

.commentContainer {
  position: static;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
  width: 40%;
  min-width: 200px;
  min-height: 350px;
  background-color: #fafafa;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
}
/* 
.commentContainer:hover .dropdown-content {
  display: flex;
} */

.dropdown-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  color: #48984b;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #03e29b;
  color: #f2fff3;
}
