.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    margin: 0;
    font-family: 'Exo 2', sans-serif; */
    height: 65vh;
    width: 100%;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.login-title {
    color: #ffffff;
    margin-bottom: 1rem;
}

.login-form {
    background-color: #003919; 
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #a5d6a7;
    display: flex;
    flex-direction: column;
}

.login-form-div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.login-label {
    margin-bottom: 0.5rem;
}

.login-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #004d26; 
    color: #a5d6a7;
    font-size: 1rem;
}

.login-submit-btn {
    background-color: #005a27;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #004d26; 
    color: #a5d6a7;
    font-size: 1rem;
}

.login-submit-btn:hover {
    background-color: #02b650;
}

.passwordValidator {
    font-size: 0.9rem;
    color: #a5d6a7;
    margin-top: 0.5rem;
}
