.dropped-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background-color: #8adeaa;
    border: 1px solid #005a27;
    border-radius: 8px;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

.dropped-widget:hover {
    border-color: #005a27;
    transform: scale(1.02);
}

.dropped-widget button {
    background-color: #093c00;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.dropped-widget button:hover {
    background-color: #d32f2f;
}
